<!DOCTYPE HTML>
<html>
    <head>
        <title>VAE-GAN</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" type ="text/css" href="page.css">


    </head>
    <body>
      <nav class="navbar navbar-light bg-light">
        <a href="/"><span class="navbar-brand mb-0 h1" ><i class='fas fa-home' style='font-size:50px'></i>  Home</span></a>
      </nav>