<%include partials/header.ejs%>
<div class="jumbotron">
    <h1 class="display-4" style= 'font-weight: bold','color:blue'>VAE-GAN</h1>
    <p class="lead">Variational AutoEncoder Generative Adverserial Network </p>
    <hr class="my-4">
    <p>Combining the power of an AutoEncoder and a GAN</p>
    <a class="btn btn-primary btn-lg" href="https://towardsdatascience.com/what-the-heck-are-vae-gans-17b86023588a" role="button">Never stop learning!</a>
</div>

<div style='margin:20px 250px;align-content: center;'>
    <p style="font-size: 130%">The model is being trained. Please give me some time to generate the image... 
        <div style='margin:10px 100 px;text-align: center;'><i class="fas fa-cog fa-spin fa-10x"></i></div>
    </p>
    <div style="text-align: center"><a href="/"><button type="button" class="btn btn-primary">Start a new training session</button>
</a></div>

</div>


<%include partials/footer.ejs%>
